.container {
  display: flex;
  flex-wrap: wrap;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.jc-c {
  justify-content: center;
}

.ac-c {
  align-items: center;
}

.col-half {
  flex-basis: 100%;
  height: 50%;
}

.pl-20 {
  padding-left: 20px;
}

.ml-20 {
  margin-left: 20px;
}

.row-half {
  height: 50%;
  width: 100%;
}

@media only screen and (min-width: 1280px) {
  .container {
    flex-direction: row-reverse;
  }

  .col-half {
    flex-basis: 50%;
    height: 100vh;
  }
}
