.bg-gold {
  background-color: #ea9d3e;
  width: 100%;
  height: 100vh;
}

.sky {
  width: 90%;
  height: 80%;
  background-color: #9ccedd;
}

.hive {
  position: absolute;
  width: 40%;
  right: 5%;
  top: 5%;
}

.bee {
  width: 40%;
  height: 35%;
}

.input-box {
  width: 90%;
  height: 90%;
  background: #e0e0e0;
}

.number-bar {
  height: 100%;
  width: 10%;
  background: #999;
  text-align: right;
  padding-right: 8px;
}

.text-box {
  height: 100%;
  width: 90%;
}

.line-num {
  color: white;
  font-family:
    Menlo,
    Monaco,
    Consolas,
    "Courier New",
    monospace;
  margin: 0;
}

.line-text {
  font-family:
    Menlo,
    Monaco,
    Consolas,
    "Courier New",
    monospace;
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .bee {
    width: 20%;
  }

  .hive {
    width: 20%;
    top: 6%;
  }

  .input-box {
    height: 50%;
  }
}

@media only screen and (min-width: 1280px) {
  .bee {
    width: 30%;
    height: 30%;
  }

  .hive {
    width: 15%;
    top: 10%;
    right: 2.5%;
  }

  .input-box {
    width: 90%;
    height: 40%;
  }
}
