body {
  background-color: #ea9d3e;
}

.spacer {
  width: 100%;
  height: 5vh;
}

.font-c1 {
  font-family: "Concert One", sans-serif;
}

.font-golos {
  font-family: Golos, sans-serif;
}

.font-consolas {
  font-family:
    Consolas,
    "Courier New",
    monospace;
}

.font-white {
  color: white;
}

.bg-gold {
  width: 100%;
  height: 100vh;
}

.sky {
  width: 90%;
  height: 80%;
  background-color: #9ccedd;
  border-radius: 0.25rem;
  position: relative;
}

.hive-container {
  width: 100%;
  height: 100%;
  position: absolute;
}

.hive {
  position: absolute;
  width: 100px;
  height: 100px;
  margin: 10px;
}

.bee {
  width: 75px;
  height: 75px;
  z-index: 10;
  margin: 25px;
  animation: bee 5s linear infinite;
}

.title {
  margin-top: 0;
  margin-bottom: 10px;
}

.instructions {
  width: 90%;
  height: 90%;
  margin: 0 auto;
}

.input-box {
  margin: auto;
  background: #e0e0e0;
  width: 90%;
  height: 100%;
  position: relative;
  border-radius: 0.25rem;
}

.number-bar {
  height: 100%;
  width: 7.5%;
  background: #999;
  text-align: right;
  padding: 0 8px 10px;
  border-radius: 0.25rem 0 0 0.25rem;
}

.text-box {
  height: 100%;
  width: 92.5%;
}

.input-area {
  font-size: 1rem;
  width: 275px;
  height: 20px;
}

.continue {
  background-color: rgb(62, 135, 56);
  color: white;
  padding: 6px;
  border-radius: 0.25rem;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.false {
  opacity: 50%;
}

.true {
  opacity: 1;
  transition: opacity 1s;
  animation: grow 1s ease-out;
}

.line-num,
.line-text {
  margin: 10px 0 0;
}

.bold-bg {
  font-weight: 600;
  background: rgba(255, 208, 127, 0.5);
}

@media only screen and (min-width: 768px) {
  p {
    line-height: 25px;
  }

  .bee {
    width: 100px;
    height: 100px;
  }

  .hive {
    width: 125px;
    height: 125px;
  }

  .input-box {
    height: 100%;
  }

  .number-bar {
    width: 5%;
  }

  .input-area {
    width: 400px;
  }
}

@media only screen and (min-width: 1280px) {
  .spacer {
    height: 20vh;
  }

  .bee {
    width: 125px;
    height: 125px;
  }

  .hive {
    width: 150px;
    height: 150px;
  }

  .instructions {
    height: 80%;
    margin: 4rem auto 0;
  }

  .input-box {
    height: 100%;
  }
}

@keyframes grow {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.15);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes bee {
  0% {
    transform: scale(1) rotate(5deg);
  }

  50% {
    transform: scale(1.05) rotate(-5deg);
  }

  100% {
    transform: scale(1) rotate(5deg);
  }
}
